In [1]:
import pandas  as pd
import matplotlib.pyplot as plt

import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Advertising.csv',index_col=0)

In [3]:
df

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [5]:
df.isnull().sum()

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [6]:
df.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [7]:
X = df[['TV','radio','radio']]

In [8]:
y = df['sales']

In [9]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [10]:
from sklearn.neighbors import KNeighborsRegressor
model_KNN = KNeighborsRegressor(n_neighbors=3 , metric='euclidean')
model_KNN.fit(X_train, y_train)
y_pred = model_KNN.predict(X_test)

In [11]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"R-squared score: {r2}")
print(f"Mean Squared Error: {mse}")

R-squared score: 0.9656613793393267
Mean Squared Error: 1.288481481481482

In [12]:
import joblib 
joblib.dump(model_KNN, 'data.joblib')

['data.joblib']

In [13]:
model = joblib.load('data.joblib')

In [14]:
model

KNeighborsRegressor(metric='euclidean', n_neighbors=3)

In [15]:
y_pred1 = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


mse = mean_squared_error(y_test, y_pred1)
r2 = r2_score(y_test, y_pred1)

print(f"R-squared score: {r2}")
print(f"Mean Squared Error: {mse}")

R-squared score: 0.9656613793393267
Mean Squared Error: 1.288481481481482

In [17]:
min(y_test), max(y_test)

(1.6, 27.0)

In [20]:
acc_dict = dict()

for K in range(1, 31):
    model_KNN = KNeighborsRegressor(n_neighbors=K, metric='euclidean')
    model_KNN.fit(X_train, y_train)
    y_pred = model_KNN.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    
    print('Accuracy for K = {}: {}'.format(r2,K))
    acc_dict[K] = r2

Accuracy for K = 0.9614767640215274: 1
Accuracy for K = 0.9632889951156374: 2
Accuracy for K = 0.9656613793393267: 3
Accuracy for K = 0.9622934894931683: 4
Accuracy for K = 0.9528629808936209: 5
Accuracy for K = 0.9434373656141438: 6
Accuracy for K = 0.9362440385635198: 7
Accuracy for K = 0.9287280713930216: 8
Accuracy for K = 0.916769470394299: 9
Accuracy for K = 0.9064246035244785: 10
Accuracy for K = 0.8990832347319948: 11
Accuracy for K = 0.8970972790796156: 12
Accuracy for K = 0.8923922081616544: 13
Accuracy for K = 0.8860685246800435: 14
Accuracy for K = 0.8844378923801728: 15
Accuracy for K = 0.8746598457782455: 16
Accuracy for K = 0.8626510896014478: 17
Accuracy for K = 0.8572716390930808: 18
Accuracy for K = 0.8520288359153413: 19
Accuracy for K = 0.8415262539206709: 20
Accuracy for K = 0.8309421394364745: 21
Accuracy for K = 0.8254603095152904: 22
Accuracy for K = 0.8226349095255787: 23
Accuracy for K = 0.8208696300840035: 24
Accuracy for K = 0.8156758718086354: 25
Accuracy for K = 0.8076441877160281: 26
Accuracy for K = 0.799320356858287: 27
Accuracy for K = 0.7919347528548316: 28
Accuracy for K = 0.7831070175595618: 29
Accuracy for K = 0.7790461668092096: 30